[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

twine = "*"
responses = "*"
pytest = "*"


[packages]

requests = "*"
schematics = "*"


[requires]

python_version = "3.6"
